body {
  background: white;
}

.ro {
  height: 200px;
  width: 200px;
  cursor: pointer;

}

.pa {
  height: 200px;
  width: 200px;
  cursor: pointer;

}

.sc {

  height: 200px;
  width: 200px;
  cursor: pointer;

}

